.container {
  background-color: #f0f2f5;
  padding-top: 50px;
}
.form-card {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-field {
  width: 100%;
}
.btn-submit {
  width: 100%;
  margin-top: 20px;
}
