.container-fluid{
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

h2 {
  margin-bottom: 20px;
}

mat-form-field {
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
}
