<div class="product-list">
  <h2>Produtos</h2>
  <button mat-raised-button color="primary" routerLink="/products/create">Criar Produto</button>
  <mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.title }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.price }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button mat-button [routerLink]="['/products/edit', product.id]">Editar</button>
        <button mat-button (click)="deleteProduct(product.id)">Deletar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalProducts" [pageSize]="pageSize" [pageIndex]="pageNumber - 1" (page)="onPageChange($event)">
  </mat-paginator>
</div>
