<div class="cart-container">
  <h2>Carrinho de Compras</h2>

  <div *ngIf="cartItems.length === 0">
    <mat-card>
      <mat-card-content>
        <p>Seu carrinho está vazio.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="cartItems.length > 0" class="cart-items">
    <mat-card *ngFor="let item of products" class="cart-item" style="width: 100%;">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>Preço: {{ item.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="item.image" alt="{{ item.title }}">
      <mat-card-content>
        <p>{{ item.description }}</p>
        <div class="quantity-container">
          <label for="quantity-{{ item.id }}">Quantidade:</label>
          <input type="number" id="quantity-{{ item.id }}"
                 [(ngModel)]="quantities[item.id!]"
                 (ngModelChange)="updateQuantity(item.id!)"
                 min="1" />
          <span class="delete-link" (click)="removeItem(item.id!)">Excluir</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-raised-button color="primary" (click)="clearCart()" *ngIf="cartItems.length > 0">Limpar Carrinho</button>
</div>
