<div class="container-fluid">
  <mat-card class="main-card">
    <h2 class="text-center mb-4 title">{{ isEditMode ? 'Editar Produto' : 'Detalhes do Produto' }}</h2>
    <form [formGroup]="productForm">
      <!-- Título -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" [readonly]="!isEditMode" />
        <mat-error *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched">
          <ng-container *ngIf="productForm.get('title')?.errors?.['required']">O título é obrigatório.</ng-container>
          <ng-container *ngIf="productForm.get('title')?.errors?.['minlength']">O título deve ter no mínimo 2 caracteres.</ng-container>
          <ng-container *ngIf="productForm.get('title')?.errors?.['maxlength']">O título deve ter no máximo 100 caracteres.</ng-container>
        </mat-error>

      </mat-form-field>

      <!-- Preço -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput type="number" formControlName="price" [readonly]="!isEditMode" />
        <mat-error *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
          <ng-container *ngIf="productForm.get('price')?.errors?.['required']">O preço é obrigatório.</ng-container>
          <ng-container *ngIf="productForm.get('price')?.errors?.['min']">O preço deve ser maior que zero.</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Descrição -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" [readonly]="!isEditMode"></textarea>
        <mat-error *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
          A descrição é obrigatória.
        </mat-error>
      </mat-form-field>

      <!-- Categoria -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" [readonly]="!isEditMode" />
        <mat-error *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
          <ng-container *ngIf="productForm.get('category')?.errors?.['required']">A categoria é obrigatória.</ng-container>
          <ng-container *ngIf="productForm.get('category')?.errors?.['minlength']">A categoria deve ter no mínimo 3 caracteres.</ng-container>
          <ng-container *ngIf="productForm.get('category')?.errors?.['maxlength']">A categoria deve ter no máximo 50 caracteres.</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Imagem -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Imagem URL</mat-label>
        <input matInput formControlName="image" [readonly]="!isEditMode" />
        <mat-error *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched">
          <ng-container *ngIf="productForm.get('image')?.errors?.['required']">A URL da imagem é obrigatória.</ng-container>
          <ng-container *ngIf="productForm.get('image')?.errors?.['pattern']">Formato de imagem inválido. Use jpg, jpeg, png, gif ou bmp.</ng-container>
        </mat-error>
      </mat-form-field>

      <div formGroupName="rating">
        <!-- Avaliação -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Avaliação</mat-label>
          <input matInput formControlName="rate" [readonly]="!isEditMode" />
          <mat-error *ngIf="productForm.get('rating.rate')?.invalid && productForm.get('rating.rate')?.touched">
            <ng-container *ngIf="productForm.get('rating.rate')?.errors?.['required']">A avaliação é obrigatória.</ng-container>
            <ng-container *ngIf="productForm.get('rating.rate')?.errors?.['min']">A avaliação deve ser entre 1 e 5.</ng-container>
            <ng-container *ngIf="productForm.get('rating.rate')?.errors?.['max']">A avaliação deve ser entre 1 e 5.</ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Contagem de Avaliações</mat-label>
          <input matInput  formControlName="count" placeholder="Contagem de Avaliações" [readonly]="!isEditMode"/>
          <mat-error *ngIf="productForm.get('rating.count')?.invalid && productForm.get('rating.count')?.touched">
            <ng-container *ngIf="productForm.get('rating.count')?.errors?.['min']">A contagem de avaliações não pode ser menor que 0.</ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group text-left d-flex">
        <button mat-raised-button color="accent" class="btn btn-secondary w-100 d-block"
                (click)="navigateToProducts()">
          Voltar
        </button>
        <button *ngIf="isEditMode" mat-raised-button color="primary" class="btn btn-primary w-100 d-block" [disabled]="productForm.invalid"
                (click)="isEditMode ? saveProduct() : navigateToProducts()">
          Salvar
        </button>
      </div>
    </form>
  </mat-card>
</div>
